@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
#hint p,h3{
    display: inline;
}

body{
    background-color:black;
    margin: 32px;
    max-height: 80vh;
    font-family: "Roboto Mono";
    
}


#hint{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hint h1{
    width:70%;
    margin-bottom:0;
}

#hint p, h1{
    position: relative;
    color: white;
    width: 70%;
    text-align: left;
    /* position: fixed;
    bottom: 0;
    left: 0; */
}

#hintBtn{
    margin-top: 32px;
    display: flex;
    color: #5c5c5c;
    background-color:#252525;
    border-radius:100px;
    padding: 12px 80px ;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border:none;


}

#hintBtn:hover{
    cursor: pointer;
}

#hintBox {
    display: none;
    text-align: center;
    margin-top: 32px;
    background-color: #252525;
    padding: 8px 0;
    border-radius: 4px;
    width: 70%;
    color:#a7a7a7;
    border:none;
}

#intro{
    position: fixed;
    width: 40%;
    bottom: 10%;
    left:8%;
    
}

#intro h1{
    margin-bottom: 8px;
}

#player{
    width: 70%;
    background-color: #FFEFD0;
    align-self: center;


}

#player span{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #363636;
    color:lightgray;
}

#scoreBox{
    /* border: 1px solid black; */
    border-radius: 100px;
    padding: 4px 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    display: flex;
    position: fixed;
    width: 40%;
    top:10%;
    left:7%;
    font-size: 24px;
    
}

#cdImg{
    width: 3em;
    margin-right: 6px;
}


#answer{
    background-color:#eeeeee;
    width: 50%;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-self: center;
    flex-direction: column;
    align-items: center;
    
}

#container{
    align-self: center;
    display: inline;
    width:100%;
}
#next{
    display:block;
    margin: 0 auto;
    padding: 16px 86px;
    border-radius: 4px;
    border: solid 1px white;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #F7C86A;
    color: black;
    font-family: "Roboto Mono";
}

#next:hover{
background-color: black;
color: whitesmoke;
}

.row{
width:100%;
}

#questionBox{
    display: flex;  
    height: 80vh;
}

#instructions{
    color:black;
    width:50%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}


.options{
    background-color: black;
    /* border: solid 4px #FFEFD0; */
    border-radius: 4px;
    /* padding: 20px 100px; */
    width: 50%;
    margin-bottom: 32px;
    min-height:42px;
    border-color: transparent;
    cursor: pointer;
    color:white;
    font-family: "Roboto Mono";

}

.options:hover{
    cursor: pointer;
}

.modalBg{
    position: fixed;
    z-index:1;
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    height: 100%;
    left: 0;
    top:0;
    overflow: auto;
    justify-content: center;
    align-content: center;
    display: none;

}

.modalMain{
    color: black;
    min-width: 50%;
    min-height: 70%;
    grid-area: 1/1;
    display: flex;
    color: white;
    position: fixed;
    background-color: black;
    text-align: center;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    align-items: center;
    
}


@media screen and (max-width: 768px){

    body{
        display: flex;
        justify-content: center;
        margin:auto;
    }

    #questionBox{
        flex-direction: column;
    }

    #scoreBox{
        font-size: 18px;
        margin: 32px;
    }

   
    #hint{
        width: 100%;
        align-self: center;
        font-size:16px;
    }

#hintBtn{
    margin: 32px;
}

    #hintBox{
        margin:32px;
    }

    #answer{
        width: 100%;
        margin: 32px;
        padding: 40px;
    }

    #answer img{
        display: none;
    }

    iframe{
        width: auto;
        height: auto;
    }

    #player{
        width: auto;
        height: auto;
        background-color: transparent;
    }

    #intro{
        position: static;
        width: 50%;
        text-align: center;
        margin: 24px;
        display: none;
    }

    #intro h1{
        display: none;
    }

    #scoreBox{
        position: static;
        text-align: center;
        width: auto;

    }

    #instructions{
        font-size: 20px;
        width: 85%;
        margin: 32px;
    }

    .options{
        min-height: 80px;
        width: 80%;
        font-size: 18px;
    }

    #next{
        margin: 0 16px 16px 16px;
        min-height: 40px;
        width: 80%;
        font-size: 18px;    
        
    }
    

    
}

